<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
        <!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
        <article class="wp-block-group">
                <!-- wp:post-title {"level":1,"fontSize":"display"} /-->

                <!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->

                <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
        </article>
        <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
