<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
        <!-- wp:query-title {"type":"search","fontSize":"display"} /-->

        <!-- wp:query {"query":{"inherit":true}} -->
        <div class="wp-block-query">
                <!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}}} -->
                        <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group">
                                <!-- wp:post-title {"isLink":true,"fontSize":"large"} /-->

                                <!-- wp:post-date {"fontSize":"small"} /-->

                                <!-- wp:post-excerpt /-->
                        </div>
                        <!-- /wp:group -->
                <!-- /wp:post-template -->

                <!-- wp:query-pagination {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
                        <!-- wp:query-pagination-previous /-->
                        <!-- wp:query-pagination-numbers /-->
                        <!-- wp:query-pagination-next /-->
                <!-- /wp:query-pagination -->

                <!-- wp:query-no-results -->
                        <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group">
                                <!-- wp:paragraph -->
                                <p>No results were found. Try another search.</p>
                                <!-- /wp:paragraph -->

                                <!-- wp:search {"label":"Search","showLabel":true,"buttonText":"Search","buttonUseIcon":false} /-->
                        </div>
                        <!-- /wp:group -->
                <!-- /wp:query-no-results -->
        </div>
        <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
